---
import { Image } from "@astrojs/image/components";
// import Share from "@components/Share.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { humanize,markdownify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";

const women = await getSinglePage("women");
const { woman } = Astro.props;
const { Content } = await woman.render();
const { title, description, woman, categories, image, tags } =
  woman.data;
---

<section class="section">
  <div class="container">
    <card class="row justify-center">
      <div class="md:col-10 text-center">
        <h1 set:html={markdownify(title)} class="h2" />
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li class="mx-3">
            {
              allWomen
                .map((woman, i) => (
                    {woman.data.image && (
                      <Image
                        src={woman.data.image}
                        alt={woman.data.title}
                        height={50}
                        width={50}
                        class="mr-2 h-6 w-6 rounded-full"
                      />
                    )}
                    <span>{woman.data.title}</span>
                  </a>
                ))
            }
          </li>
          <li class="mx-3 flex items-center flex-wrap">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
            <ul>
              {
                categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="mr-2 hover:text-primary font-medium"
                    >
                      {humanize(category)}{i !== woman.data.categories.length - 1 && ","}
                    </a>
                  </li>
                ))
              }
            </ul>
            </>
          </li>
        </ul>
      </div>

      <div class="col-12 mt-8 mb-2">
        {image && (
          <Image
            src={image}
            height={500}
            width={1000}
            alt={title}
            class="rounded-lg"
          />
        )}
      </div>

      <div class="md:col-10">
        <div class="content mb-16 text-left">
          <Content />
        </div>
        <div class="flex flex-wrap items-center justify-between">
          <ul class="mr-4 mb-4 space-x-3">
            {
              tags.map((tag: string) => (
                <li class="inline-block">
                  <a
                    href={`/tags/${slugify(tag)}`}
                    class="block rounded-lg bg-theme-light px-4 py-2 font-semibold text-dark text-sm hover:text-primary transition duration-300"
                  >
                    #{humanize(tag)}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </card>
  </div>
</section>
